.spinner-crescent {
    transform: scale(0.2);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

ion-searchbar {
    margin-top: 50px;
}

ion-card {
    min-height: 400px;
}

ion-card:nth-of-type(1) {
    margin-top: 20px;
}

.image-home {
    width: 200px;
    margin: 0 auto;
}

#headerTabBar {
    display: flex;
    justify-content: center;
    position: relative;
}

.left-button {
    position: absolute;
    right: 1rem;
}
